<% provide(:title, 'Home page') %>
<div class="center hero-unit">
  <h1>Welcome to the Sample App!</h1>
  
  <%= link_to "Books", books_path, class: "btn btn-large" %>
  <%= link_to "Authors", authors_path, class: "btn btn-large" %>

</div>

